<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roger.dropus">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/dropus"
        android:label="  DropUs"
        android:largeHeap="true"
        android:roundIcon="@drawable/dropus"
        android:theme="@style/simply">
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ContactsListActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_contacts" />
        </activity>
        <activity
            android:name=".mai"
            android:label="DropUs    "
            android:screenOrientation="userPortrait"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".report"
            android:label="FeedBack"
            android:parentActivityName=".mai"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roger.dropus.mai" />
        </activity>
        <activity
            android:name=".ContactDetailActivity"
            android:parentActivityName=".ContactsListActivity"
            android:theme="@style/Theme.AppCompat" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA17frMBzCdVoP4s4cmpIxlQyxtxxKJCNk" />

        <activity android:name=".MapsActivityDriver" />
        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".MainActivity" />
        <activity android:name=".hi" />
        <activity android:name=".splash2" />
        <activity android:name=".splash3" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".mai"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roger.dropus.mai" />
        </activity>
        <activity
            android:name=".aboutus"
            android:label="  About Us"
            android:parentActivityName=".mai"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.roger.dropus.mai" />
        </activity>
        <activity android:name=".home_chats"></activity>
    </application>

</manifest>